<div class="cover container">
    <div class="cover-content">
        {{#if @site.description}}
            <div class="cover-description" style="font-size: 3.7rem;font-weight: 800;line-height: 3.7rem;">{{@site.description}}</div>
            <div class="cover-description" style="font-size: 2rem; font-weight: 500;line-height: 2rem;">Join AppHunt today, for free!</div>
        {{/if}}

        {{#unless @member}}
            <div class="cover-cta">
                <button class="button members-subscribe" data-portal="signup">Subscribe now</button>
                <button class="button button-secondary members-login" data-portal="signin">Login</button>
            </div>
        {{/unless}}
    </div>
</div>
